@import "_variables.scss";

.btn-lavender {
  background-color: color(lavender);
  color: black;
  transition: all 0.4s;
  border-radius: 10rem;
}

.btn-lavender:hover {
  color: black;
  transform: translateY(-7px);
  box-shadow: 0 10px 7rem rgba(black, 1);
}
