@import "_variables.scss";

.btn-lavender {
  background-color: color(lavender);
  color: color(white);
  transition: all 0.4s;
  border-radius: 10rem;
}

.btn-lavender:hover {
  color: black;
  transform: translateY(-7px);
  box-shadow: 0 10px 5rem rgba(black, 0.5);
}
