$colors: (
  lightpink: #ffb6c1,
  lightblue: #add8e6,
  lavender: #e6e6fa,
  lightyellow: #ffffe0,
  lightgreen: #b5e8b5,
  purple: #800080,
  black: #000,
  white: #fff,
  main: #fffef8,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
